# Preprocessing of Data for Testing

In [ ]:
import pandas as pd
import numpy as np

#ignore warning messages 
import warnings
warnings.filterwarnings('ignore')

In [ ]:
#importing the training dataset
nep1 = pd.read_csv("Downloads\\ML Project Sentiment Anlaysis\\nep1.csv")
nep2 = pd.read_csv("Downloads\\ML Project Sentiment Anlaysis\\nep2.csv")
nep3 = pd.read_csv("Downloads\\ML Project Sentiment Anlaysis\\nep3.csv")
rej1 = pd.read_csv("Downloads\\ML Project Sentiment Anlaysis\\reject1.csv")
rej2 = pd.read_csv("Downloads\\ML Project Sentiment Anlaysis\\reject3.csv")
nep4 = pd.read_csv("Downloads\\ML Project Sentiment Anlaysis\\raw3.csv")
nep5 = pd.read_csv("Downloads\\ML Project Sentiment Anlaysis\\rawdata1.csv")
nep6 = pd.read_csv("Downloads\\ML Project Sentiment Anlaysis\\nep5.csv")

In [ ]:
nep7 = pd.read_csv('C:\\Users\\krishna meghana\\Downloads\\ML Project Sentiment Anlaysis\\reject34.csv',encoding='latin1')

In [ ]:
frames = [nep1, nep2, nep3, rej1, rej2, nep4, nep5, nep6, nep7]

result = pd.concat(frames)

In [ ]:
result.head()

,Unnamed: 0,Author_ID,user_location,date,text,hashtags,user,location,user_description,user_verified,source
0,0.0,Ravi Godara,NaN,2022-04-10 11:31:17,RT @Raj_Sahni1: The National Institute of Tech...,"['Srinagar', 'NationalEducationPolicy']",NaN,NaN,NaN,NaN,NaN
1,1.0,Fabricio Cavalcante,Rio de janeiro,2022-04-10 10:48:32,RT @tataclassedge: Greetings of the auspicious...,"['RamNavami2022', 'RamNavami', 'education']",NaN,NaN,NaN,NaN,NaN
2,2.0,Tata ClassEdge,"Mumbai, India",2022-04-10 10:45:53,Greetings of the auspicious occasion of Ram Na...,"['RamNavami2022', 'RamNavami']",NaN,NaN,NaN,NaN,NaN
3,3.0,D K Yadav,NaN,2022-04-10 08:10:23,RT @Raj_Sahni1: The National Institute of Tech...,"['Srinagar', 'NationalEducationPolicy']",NaN,NaN,NaN,NaN,NaN
4,4.0,Jvn70,NaN,2022-04-10 07:02:31,RT @KumarAmitMEA: Wonderful discussions w/ Rac...,['NEP2020'],NaN,NaN,NaN,NaN,NaN

In [ ]:
result.shape

(2065, 11)

In [ ]:
df=result[['date','text']]

Converting the dataframe into a csv file after merging all the tweets gathered through Twitter API

In [ ]:
df.to_csv('testing.csv')

In [ ]:
df.drop_duplicates( "text" , keep='first', inplace=True)

In [ ]:
df.shape

(629, 2)

In [ ]:
print('Total tweets in the data are', len(df))

Total tweets in the data are 629

In [ ]:
df.head()

                  date                                               text
0  2022-04-10 11:31:17  RT @Raj_Sahni1: The National Institute of Tech...
1  2022-04-10 10:48:32  RT @tataclassedge: Greetings of the auspicious...
2  2022-04-10 10:45:53  Greetings of the auspicious occasion of Ram Na...
4  2022-04-10 07:02:31  RT @KumarAmitMEA: Wonderful discussions w/ Rac...
6  2022-04-10 05:24:58  RT @EduMinOfIndia: #AapBhiBaneBhagidar: #NEP20...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 629 entries, 0 to 56
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    497 non-null    object
 1   text    629 non-null    object
dtypes: object(2)
memory usage: 14.7+ KB

In [ ]:
df['text'] = df['text'].astype(str)

<br>



## The tweets are cleaned by following the below steps

In [ ]:
import nltk
import re

In [ ]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [ ]:
import string

### Removing punctuations

In [ ]:
def remove_punct(text):
    text  = "".join([char for char in text if char not in string.punctuation])
    text = re.sub('[0-9]+', '', text)
    return text

df['Tweet_punct'] = df['text'].apply(lambda x: remove_punct(x))
df.head(10)

### Tokenization - Converting a sentence into list of words

In [ ]:
def tokenization(text):
    text = re.split('\W+', text)
    return text

df['Tweet_tokenized'] = df['Tweet_punct'].apply(lambda x: tokenization(x.lower()))
df.head()

### Remove stopwords

In [ ]:
stopword = nltk.corpus.stopwords.words('english')

In [ ]:
def remove_stopwords(text):
    text = [word for word in text if word not in stopword]
    return text
    
df['Tweet_nonstop'] = df['Tweet_tokenized'].apply(lambda x: remove_stopwords(x))
df.head()

### Lammetization - Tranforming any form of a word to its root word

In [ ]:
wn = nltk.WordNetLemmatizer()

def lemmatizer(text):
    text = [wn.lemmatize(word) for word in text]
    return text

df['Tweet_lemmatized'] = df['Tweet_nonstop'].apply(lambda x: lemmatizer(x))
df.head()

### Vectorisation

<br>

__Cleaning data in single line through passing clean_text in the CountVectorizer__

In [ ]:
def clean_text(text):
    text_lc = "".join([word.lower() for word in text if word not in string.punctuation]) # remove puntuation
    text_rc = re.sub('[0-9]+', '', text_lc)
    tokens = re.split('\W+', text_rc)    # tokenization
    text = [ps.stem(word) for word in tokens if word not in stopword]  # remove stopwords and stemming
    return text

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
countVectorizer = CountVectorizer(analyzer=clean_text) 
countVector = countVectorizer.fit_transform(df['text'])
print('{} Number of tweets has {} words'.format(countVector.shape[0], countVector.shape[1]))

In [ ]:
# removes pattern in the input text
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for word in r:
        input_txt = re.sub(word, "", input_txt)
    return input_txt

In [ ]:
# remove twitter handles (@)
df['clean_tweet'] = np.vectorize(remove_pattern)(df['text'], "@[\w]*")

In [ ]:
# remove special characters, numbers and punctuations
df['clean_tweet'] = df['clean_tweet'].str.replace("[^a-zA-Z#]", " ")
df.head()

,date,text,clean_tweet
0,2022-04-10 11:31:17,RT @Raj_Sahni1: The National Institute of Tech...,RT The National Institute of Technology NIT...
1,2022-04-10 10:48:32,RT @tataclassedge: Greetings of the auspicious...,RT Greetings of the auspicious occasion of R...
2,2022-04-10 10:45:53,Greetings of the auspicious occasion of Ram Na...,Greetings of the auspicious occasion of Ram Na...
4,2022-04-10 07:02:31,RT @KumarAmitMEA: Wonderful discussions w/ Rac...,RT Wonderful discussions w Rachel Croson P...
6,2022-04-10 05:24:58,RT @EduMinOfIndia: #AapBhiBaneBhagidar: #NEP20...,RT #AapBhiBaneBhagidar #NEP seeks to ma...

In [ ]:
# Converting the entire data into lower case
df['clean_tweet'] = df['clean_tweet'].map(lambda clean_tweet: clean_tweet.lower())
df.head()

,date,text,clean_tweet
0,2022-04-10 11:31:17,RT @Raj_Sahni1: The National Institute of Tech...,rt the national institute of technology nit...
1,2022-04-10 10:48:32,RT @tataclassedge: Greetings of the auspicious...,rt greetings of the auspicious occasion of r...
2,2022-04-10 10:45:53,Greetings of the auspicious occasion of Ram Na...,greetings of the auspicious occasion of ram na...
4,2022-04-10 07:02:31,RT @KumarAmitMEA: Wonderful discussions w/ Rac...,rt wonderful discussions w rachel croson p...
6,2022-04-10 05:24:58,RT @EduMinOfIndia: #AapBhiBaneBhagidar: #NEP20...,rt #aapbhibanebhagidar #nep seeks to ma...

In [ ]:
df['clean_tweet'] = df['clean_tweet'].apply(lambda x: " ".join([word for word in x.split() if not word in set(stopwords.words('english'))]))
df.head()

,date,text,clean_tweet
0,2022-04-10 11:31:17,RT @Raj_Sahni1: The National Institute of Tech...,rt national institute technology nit #srinagar...
1,2022-04-10 10:48:32,RT @tataclassedge: Greetings of the auspicious...,rt greetings auspicious occasion ram navami ev...
2,2022-04-10 10:45:53,Greetings of the auspicious occasion of Ram Na...,greetings auspicious occasion ram navami every...
4,2022-04-10 07:02:31,RT @KumarAmitMEA: Wonderful discussions w/ Rac...,rt wonderful discussions w rachel croson provo...
6,2022-04-10 05:24:58,RT @EduMinOfIndia: #AapBhiBaneBhagidar: #NEP20...,rt #aapbhibanebhagidar #nep seeks make quality...

In [ ]:
# individual words considered as tokens
tokenized_tweet1 = df['clean_tweet'].apply(lambda x: x.split())
tokenized_tweet1.head()

0    [rt, national, institute, technology, nit, #sr...
1    [rt, greetings, auspicious, occasion, ram, nav...
2    [greetings, auspicious, occasion, ram, navami,...
4    [rt, wonderful, discussions, w, rachel, croson...
6    [rt, #aapbhibanebhagidar, #nep, seeks, make, q...
Name: clean_tweet, dtype: object

In [ ]:
wn = nltk.WordNetLemmatizer()

def lemmatizer(text):
    text = [wn.lemmatize(word) for word in text]
    return text

tokenized_tweet1 = tokenized_tweet1.apply(lambda x: lemmatizer(x))
tokenized_tweet1.head()

0    [rt, national, institute, technology, nit, #sr...
1    [rt, greeting, auspicious, occasion, ram, nava...
2    [greeting, auspicious, occasion, ram, navami, ...
4    [rt, wonderful, discussion, w, rachel, croson,...
6    [rt, #aapbhibanebhagidar, #nep, seek, make, qu...
Name: clean_tweet, dtype: object

In [ ]:
# combine words into single sentence

df['clean_tweet'] = [" ".join(sentence) for sentence in tokenized_tweet1]
df.head()

,date,text,clean_tweet
0,2022-04-10 11:31:17,RT @Raj_Sahni1: The National Institute of Tech...,rt national institute technology nit #srinagar...
1,2022-04-10 10:48:32,RT @tataclassedge: Greetings of the auspicious...,rt greeting auspicious occasion ram navami eve...
2,2022-04-10 10:45:53,Greetings of the auspicious occasion of Ram Na...,greeting auspicious occasion ram navami everyo...
4,2022-04-10 07:02:31,RT @KumarAmitMEA: Wonderful discussions w/ Rac...,rt wonderful discussion w rachel croson provos...
6,2022-04-10 05:24:58,RT @EduMinOfIndia: #AapBhiBaneBhagidar: #NEP20...,rt #aapbhibanebhagidar #nep seek make quality ...

In [ ]:
l = []
idx = 0
for i in range(df.shape[0]):
  l.append(5)
df.insert(loc=idx, column='sentiment', value=l)

In [ ]:
df.head()

,sentiment,date,text,clean_tweet
0,5,2022-04-10 11:31:17,RT @Raj_Sahni1: The National Institute of Tech...,rt national institute technology nit #srinagar...
1,5,2022-04-10 10:48:32,RT @tataclassedge: Greetings of the auspicious...,rt greeting auspicious occasion ram navami eve...
2,5,2022-04-10 10:45:53,Greetings of the auspicious occasion of Ram Na...,greeting auspicious occasion ram navami everyo...
4,5,2022-04-10 07:02:31,RT @KumarAmitMEA: Wonderful discussions w/ Rac...,rt wonderful discussion w rachel croson provos...
6,5,2022-04-10 05:24:58,RT @EduMinOfIndia: #AapBhiBaneBhagidar: #NEP20...,rt #aapbhibanebhagidar #nep seek make quality ...

In [ ]:
df['tweet'] = df['text']

In [ ]:
del df['text']

In [ ]:
del df['date']

In [ ]:
df.head()

,sentiment,clean_tweet,tweet
0,5,rt national institute technology nit #srinagar...,RT @Raj_Sahni1: The National Institute of Tech...
1,5,rt greeting auspicious occasion ram navami eve...,RT @tataclassedge: Greetings of the auspicious...
2,5,greeting auspicious occasion ram navami everyo...,Greetings of the auspicious occasion of Ram Na...
4,5,rt wonderful discussion w rachel croson provos...,RT @KumarAmitMEA: Wonderful discussions w/ Rac...
6,5,rt #aapbhibanebhagidar #nep seek make quality ...,RT @EduMinOfIndia: #AapBhiBaneBhagidar: #NEP20...

In [ ]:
df.to_csv("cleaned_test.csv")